main.about div div p{
    color: rgb(219, 219, 219);
    max-width: 600px;
    background: rgba(0, 0, 0, 0.2);
    padding: .7em;
    line-height: 1.35em;
    border-radius: 5px;
    font-size: 1.05em;
    margin: 1em auto;
}
main.about div div p a{
    color: #DDFC74;
}
.avatar{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
@media (min-width: 700px){

    .avatar{
        width: 280px;
        height: 280px;
    }
    main.about div div p{
        font-size: 1.2em;
        margin: 2em auto;

    }
}