.hover-in{
    transform-origin: bottom;
    animation: hover-in .7s linear backwards;
    animation-iteration-count: unset;

}
.hover-out{
    transform-origin: top;
    animation: hover-in .7s linear forwards;
    animation-iteration-count: initial;
    animation-direction: reverse;
}
@keyframes spin{
    from{transform: rotate(60deg);}
    to {transform: rotate(200deg);}
}
@keyframes hover-in{
    from{transform: rotateX(90deg);}
    to{transform: rotateX(0deg);}
}