@import 'colors';
.contact__flex a .icon{
    color: #fff;
    fill: currentColor !important;
    width: 70px;
    height: 70px;
    transition: 500ms ease all;
}
.contact__flex a:hover .icon{
    color: $primaryColor;
}
.contact__flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 940px;
    margin: auto;
}
.contact__item{
    width: 200px;
    max-height: 200px;
    background-color: #1E1E1E;
    margin: 15px auto;
    padding: 50px;
    color: #fff;
    transition: 500ms ease all;
}
.contact__item:hover{
    background-color: rgb(58, 58, 58);
}
.contact__item .icon{
    display: block;
    width: 100%;
    height: 100%;
}
.contact__flex span{
    display: block;
    padding: 10px;
    text-align: center;
}
@media (min-width: 700px){
    main.contact{
        padding-top: 20vh;
    }
}